<h4>Order List</h4>

<hr/>
<div class="order">
    <div class="row">
        <div class="col-md-3 col-sm-3 hidden-xs">Order Id</div>
        <div class="col-md-3 col-sm-3 col-xs-4">Name</div>
        <div class="col-md-3 col-sm-3 col-xs-4">Price</div>
        <div class="col-md-3 col-sm-3 col-xs-4">Quantity</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 hidden-xs">826389061723</div>
        <div class="col-md-3 col-sm-3 col-xs-4">Bag</div>
        <div class="col-md-3 col-sm-3 col-xs-4">$480</div>
        <div class="col-md-3 col-sm-3 col-xs-4">
            <select name="">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="1">5</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 hidden-xs">8263333461723</div>
        <div class="col-md-3 col-sm-3 col-xs-4">Keyboard</div>
        <div class="col-md-3 col-sm-3 col-xs-4">$80</div>
        <div class="col-md-3 col-sm-3 col-xs-4">
            <select name="">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="1">5</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 hidden-xs">34265046173323</div>
        <div class="col-md-3 col-sm-3 col-xs-4">Mouse</div>
        <div class="col-md-3 col-sm-3 col-xs-4">$280</div>
        <div class="col-md-3 col-sm-3 col-xs-4">
            <select name="">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="1">5</option>
            </select>
        </div>
    </div>
</div>
<hr/>
<button ui-sref="payment">Submit</button>
