<h4>Payment</h4>
<hr/>
<div class="card">
    <img src="/images/visa.png" alt="Visa" data-ng-class="{card_select:selectedCardName==='visa'}" data-ng-click="selectedCard('visa')">
    <img src="/images/master.png" alt="Master Card" data-ng-class="{card_select:selectedCardName==='master'}" data-ng-click="selectedCard('master')">
    <img src="/images/ae.png" alt="American Express" data-ng-class="{card_select:selectedCardName==='ae'}" data-ng-click="selectedCard('ae')">
    <img src="/images/jcb.png" alt="JCB" data-ng-class="{card_select:selectedCardName==='jcb'}" data-ng-click="selectedCard('jcb')">
    <img src="/images/discover.png" alt="Discover" data-ng-class="{card_select:selectedCardName==='discover'}" data-ng-click="selectedCard('discover')">
</div>
<hr/>
<div class="row">
    <div class="col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-12">

        <button class="btn btn-primary btn-lg btn-block" ui-sref="payment">Payment</button>
    </div>
</div>

<hr/>

