<h4>Payment</h4>
<hr/>

<img src="order-app/images/credit_card/visa.png" alt="Visa" height="40" width="60">

<img src="/static/admin/images/credit_card/master.png" alt="Master Card" height="40" width="60">
<img src="/static/admin/images/credit_card/ae.png" alt="American Express" height="40" width="60">
<img src="/static/admin/images/credit_card/jcb.png" alt="JCB" height="40" width="60">
<img src="/static/admin/images/credit_card/discover.png" alt="Discover" height="40" width="60">


<div class="row">
    <div class="col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-12">

        <button class="btn btn-primary btn-lg btn-block" ui-sref="payment">Payment</button>
    </div>
</div>

<hr/>
